.container {
  display: flex;
  justify-content: center;
  background: #e6eeff;

}

button {
  background-color: #C37B89;
  color:#e6eeff;
  padding: 10px;
  margin: 15px;
  border: none;
  text-transform: uppercase;
}